.row {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

.button {
    background-color: #04AA6D;
    border: 2px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 10px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    font-size: 14px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    opacity: 0.75;
}

.demographic_button {
    color: black
}

.bar_button {
    color: white
}

.button:hover {
    opacity: 1;
    border: 3px solid black;
    font-size: 18px;
}

.button.active {
    opacity: 1;
    border: 4px solid black;
    font-weight: bold;
    font-size: 16px;
}

#medicare_reason {
    background-color: #F7ACCF;
}

#age {
    background-color: #FAC748;
}

#sex {
    background-color: #9FD356;
}

#race {
    background-color: #99B2DD;
}

#mental_illness {
    background-color: #A3A5C3;
}

#medicaid {
    background-color: #904C77;
}

.medicaid_text {
    color: #904C77;
}

#medicare_advantage {
    background-color: #587D71;
}

.medicare_advantage_text {
    color: #587D71;
}

#part_d {
    background-color: #C57B57;
}

.part_d_text {
    color: #C57B57;
}

#private_insurance {
    background-color: #258EA6;
}

.private_insurance_text {
    color: #258EA6;
}

#tooltip {
    position: absolute;
    display: none;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 3px 7px;
    border-radius: 3px;
    pointer-events: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 11px;
    line-height: 1.2;
    color: #333;
    max-width: 200px; /* Set a maximum width */
    word-wrap: break-word; /* Ensure long text wraps */
}

body {
    font-family: Arial, sans-serif;
    background-color: #E0D8DE;
}

section {
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
}

.progress-container {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: lightslategrey;
    border: 1px solid black;
    border-radius: 50%;
    transition: background-color 0.1s ease;
}

.dot.active {
    background-color: darkslategrey;
}

.step {
    padding: 50px;
    opacity: 0.2;
    transform: translateY(20px);
    width: 90%;
    margin: 0 auto;
    transition: all 0.1s ease-in-out;
    font-size: 24px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

.step h1 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    color: #403F4C;
}

.step h2 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #403F4C;
}

.step h3 {
    font-size: 30px;
    color: #585F66;
    text-align: center;
}

.step h4 {
    font-size: 80px;
    color: #585F66;
    text-align: center;
}

.step.active {
    opacity: 1;
    transform: translateY(0);
}

.step {
    margin-bottom: 50vh;
}

img {
    padding: inherit;
    margin:auto;
    width: 50%;
    display: block;
}